<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Detalhes dos Clientes</title>
</head>
<body>
    <form action="/pagina-processa-dados-do-form" method="post">
        <div>
            <label>Nome:</label>
            <input id="Nome" name="Nome" />
        </div>
        <div>
            <label>Genero:</label>
            <input id="Genero" name="Genero" />
        </div>
        <div>
            <label>Data_Nascimento:</label>
            <input id="Data_Nascimento" name="Data_Nascimento" />
        </div>
        <div>
            <label>Telefone:</label>
            <input id="Telefone" name="Telefone" />
        </div>
        <div class="button">
            <button type="submit">Salvar Cliente</button>
        </div>
    </form>
</body>
</html>